html, body {
    background-image: url(https://cdn.oboi7.com/content/images/87/d2/87d2b3721ca890d716e7457f81cd7d92b0898b09.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color: #333;
}

.character-menu-container {
    display: inline-block;
    width: 250px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow-y: scroll;
    background-color: #1b1e21;
}

.go-back-link {
    display: block;
    text-align: center;
    width: 100%;
}

.character-menu-portrait {
    padding: 25px;
}

.character-menu-name {
    color: #eee;
    font-weight: 700;
    text-transform: uppercase;
}

.character-menu-portrait img {
    border-radius: 50%;
    border: 3px solid #ddd;
    width: 100%;
}

ul.character-menu {
    list-style: none inside;
    padding: 0;
    margin: 25px 0 0 0;
}

ul.character-menu a {
    display: block;
    color: #eee;
    padding: 10px 15px;
    text-decoration: none;
    border-top: 1px solid #383838;
    border-bottom: 1px solid #505050;
    transition: padding-left 250ms;
}

ul.character-menu a:hover, ul.character-menu a.active {
    background-color: #666666;
}

ul.character-menu a:hover {
    transition: padding-left 250ms;
    padding-left: 30px;
}

.character-content-container {
    margin-left: 250px;
    padding: 110px 15px 10px;
}

.character-panel {
    border: 1px solid rgba(100,100,100,0.5);
    color: #fff;
    margin-bottom: 15px;
}

.character-panel-title {
    padding: 5px 10px;
    background-color: #222;
    color: #eee;
}

.character-panel-body {
    background-color: rgba(0,0,0,0.7);
    padding: 20px;
}

.character-panel-content {
    background-color: #222;
    padding: 10px;
}

.eve-columns-container .character-panel {
    display: inline-block;
    width: 100%;
    margin-bottom: 15px;
}

.character-data-panel {
    position: fixed;
    left: 250px;
    top: 0;
    right: 0;
    background-color: rgba(0,0,0,0.9);
    z-index: 50;
    padding: 10px;
}

.loss {
    background-color: rgba(255,0,0,0.2);
}

.win {
    background-color: rgba(0,255,0,0.2);
}

@media (max-width: 575px) {
    .character-content-container {
        margin-left: 0;
        padding: 15px 10px;
    }

    .character-data-panel {
        left: 0;
        display: none;
    }
}