body, html {
    font-family: 'Exo 2', sans-serif;
    font-weight: 400;
    background-color: #222;
    background-image: url("https://wallpaper.wiki/wp-content/uploads/2017/04/wallpaper.wiki-Eve-online-minmatar-republic-thrasher-PIC-WPB006106.jpg");
    /*background-image: url("https://vignette.wikia.nocookie.net/steamtradingcards/images/7/7b/EVE_Online_Background_Caldari_State.jpg");*/
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

/*.eve-panel {
    background-color: rgba(0,0,0,0.7);
    padding: 25px;
    border: 1px solid rgba(100,100,100,0.6);
}

.eve-panel .eve-panel-body {
    background-color: #222222;
    padding: 15px;
    color: #eeeeee;
}*/

.eve-btn {
    border: none;
    font-weight: 700;
    cursor: pointer;
    padding: 5px 10px;
    color: #eee;
}

.eve-btn-big {
    padding: 15px 20px;
}

.eve-btn-primary {
    background-color: #428bca;
    border-bottom: 2px solid #2c55a9;
}

.eve-btn-primary:hover {
    background-color: #3e83be;
}

.eve-btn-default {
    background-color: #716d74;
    border-bottom: 2px solid #4e4b53;
}

.eve-btn-default:hover {
    background-color: #68656b;
}

.eve-btn-warning {
    background-color: #cb8f1c;
    border-bottom: 2px solid #a46c1b;
}

.eve-btn-warning:hover {
    background-color: #b9821a;
}

.eve-btn-success {
    background-color: #22ab24;
    border-bottom: 2px solid #208121;
}

.eve-btn-success:hover {
    background-color: #1f9b21;
}

.eve-btn-danger {
    background-color: #be2f29;
    border-bottom: 2px solid #9e2924;
}

.eve-btn-danger:hover {
    background-color: #ab2b25;
}

a.eve-btn {
    text-decoration: none;
    text-align: center;
    display: inline-block;
    color: #eee;
    text-transform: uppercase;
}

.note {
    padding: 10px 15px;
    margin: 15px 0;
}

.note-info {
    background-color: #428bca;
    border-left: 5px solid #2c55a9;
    color: #eee;
}

.note-default {
    background-color: #716d74;
    border-left: 5px solid #4e4b53;
}

.note-warning {
    background-color: #cb8f1c;
    border-left: 5px solid #a46c1b;
}

.note-success {
    background-color: #22ab24;
    border-left: 5px solid #208121;
}

.note-danger {
    background-color: #be2f29;
    border-left: 5px solid #9e2924;
}

.eve-link {
    text-decoration: none;
    color: #cb8f1c;
}

.eve-link:hover {
    text-decoration: underline;
    color: #cb8f1c;
}

.cache-info {
    float: right;
    cursor: pointer;
}

@media (max-width: 1499px) {
    .eve-columns-container {
        column-count: 2;
    }
}

@media (min-width: 1500px) {
    .eve-columns-container {
        column-count: 2;
    }
}

@media (max-width: 575px) {
    .eve-columns-container {
        column-count: 1;
    }
}

.eve-table {
    width: 100%;
    color: #fff;
    font-size: 10pt;
}

.eve-table td {
    padding: 5px;
}

.eve-table.colored tr:nth-child(odd) {
    background-color: #333;
}

.eve-table.colored tr table.non-colored tr {
    background-color: transparent;
}

.hidden {
    display: none;
}

.form-control {
    color: #eee;
    border-radius: 0;
    background-color: transparent;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid #666;
    outline: none;
    box-shadow: none!important;
    padding: 6px 0;
}

.form-control[readonly] {
    background-color: transparent;
}

.form-control:hover, .form-control:active, .form-control:focus {
    background-color: transparent;
    color: #eee;
}

.eve-modal {
    color: #fff;
}

.eve-modal .modal-content {
    border-radius: 0;
    border: 1px solid #333;
    background-color: #222;
}

.eve-modal .modal-header {
    padding: 10px;
    font-size: 16px;
    border-bottom: 1px solid #333;
}

.eve-modal .modal-footer {
    border-top: 1px solid #333;
}

#debug {
    background-color: #666666;
}

.eve-panel {
    border: 1px solid rgba(100,100,100,0.5);
    color: #fff;
    margin-bottom: 15px;
}

.eve-panel-title {
    padding: 5px 10px;
    background-color: #222;
    color: #eee;
}

.eve-panel-body {
    background-color: rgba(0,0,0,0.7);
    padding: 20px;
}

.eve-panel-content {
    background-color: #222;
    padding: 10px;
}

.eve-columns-container .eve-panel {
    display: inline-block;
    width: 100%;
    margin-bottom: 15px;
}

.margin-auto {
    margin: auto;
}
